<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/base.css">
    <script src="https://kit.fontawesome.com/64e4f7e722.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../static/icon_circle.png" type="image/icon type" sizes="32x32">
</head>
<body>
    <div class="fullPage">
        <div class="header">
            <div class="logo" onclick="window.location.href='https://karaoke.dawittekeste.com';">
                <img src="../static/VocalRemover_transprent.png" >
                Home
            </div>
            <div class="header-menu">
                <a onclick="window.location.href='https://karaoke.dawittekeste.com';" class="active">Youtube Upload</a>
                <a href="#">MP3 Upload <i class="fa-solid fa-hammer"></i></a>
                <a href="#">Video Upload <i class="fa-solid fa-hammer"></i></a>
                <a href="#">About</a>
            </div>
            <div class="user-settings">
                <div class="dark-light">
                    <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" />
                    </svg>
                </div>
            </div>
        </div>
        <main>
          {% block content %}{% endblock %}
        </main>
        <footer>
        <p>Powered By Microsoft Azure</p>
        </footer>
    </div>
    
    <script src="../static/base.js"></script>
</body>
</html>
