{% extends 'base.html' %}

{% block title %}Preview{% endblock %}

{% block content %}
    <script src="https://unpkg.com/wavesurfer.js@6.6"></script>
    <link rel="stylesheet" href="../static/karaoke.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    

    <div id="video-container">
      <video id="video-player" controls>
        <source src="{{ video_path }}" type="video/mp4" /> 
      </video>
      <br>
      
      <div class="slider-container">
          <button id="play-pause-button" >
            <i id="playIcon" class="fas fa-play"></i>
            <i id="pauseIcon" class="fas fa-pause"></i>
          </button>
          <div class="slider-time">
            <span id="start-time">00:00</span>
          </div>
          <input type="range" id="time-slider" min="0" max="100" step="1" value="0">
          <div class="slider-time">
            <span id="end-time">00:00</span>
          </div>
        </div>
      </div>
      <div id="waveforms">
          <div id="waveform"></div>
          <a>Music </a>
          <input type="range" id="instrumental-volume-slider" value="100">
          <div id="waveform1"></div>
          <a>Vocals </a>
          <input type="range" id="vocals-volume-slider" value="0">
      </div>
    
  <script src="../static/karaoke.js" video-link="{{ video_path }}" instrumental-link="{{ instrumental_path }}" vocal-link="{{ vocals_path }}"></script>
{% endblock %}